img{
    width: 100px;   
}

body{
    background-color: #D3ECFD;
    padding: 10px;
}

.mainnav{
    display: flex;
    justify-content: flex-end;
}

.mainnav a{
    padding: 10px;
    align-items: flex-end;
    text-decoration: none;
    color: darkblue;
}

nav{
    padding: 10px 15px; 
    font-size: 18px;
    font-weight: bolder;
}

h1{
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
}

.form-group{
    width: 25em;
    display: block;
    margin: 0 auto;
     
}

label{
    font-weight: bold;
    font-size: 18px;
}

.form-control{
    border: 1px solid darkblue;
    border-radius: 5px;    
}

#available{
    color:darkblue;
    font-weight: bold;
}

.btnGroup{
    display: block;
    margin: 5px auto;
    text-align: center;    
}

.acc{
    color: darkblue;
    font-size: 14px;
    padding-top: 15px;

}

.btn{
    font-weight: bold;
}

.btn-primary{
    background-color: darkblue;
    margin: 5px;
    margin-top: 15px;
}

.btn-xs{
    background-color: grey;
    opacity: 50%;
    margin-top: -5px;
    font-size: 12px;
}